@using FNet.AdminPages.Models
@using System.Data
@model F0Model
<style type="text/css">
    #admin_pages_views_f0_table table.change-journal tr {
        border-left: 1px solid black;
    }

    #admin_pages_views_f0_table table.change-journal th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }

    #admin_pages_views_f0_table table.change-journal td {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }

    #admin_pages_views_f0_table tr.table-head-row {
        font-weight: bold;
    }
</style>
<div id="admin_pages_views_f0_table">
    @if (Model != null && Model.Data != null)
    {
        F0Model.FilteredData.RowItems prevRow = null;
        F0Model.FilteredData.RowItems currRow = null;
        <table class="change-journal" style="margin: 6px;">
            <tr class="table-head-row">
                <th>Х</th>
                <th>ОК</th>
                <th>Дата</th>
                <th>Менеджер</th>
                <th>Аукцион</th>
                <th>Спецификация</th>
                <th>Товар</th>
                <th>Количество</th>
            </tr>
            @for (Int32 i = 0; i < Model.Data.RowCount; i++)
            {
                prevRow = currRow;
                currRow = Model.Data.GetRowItems(i);
                <tr class="table-body-row" data-uid="@currRow.товар_uid">
                    @if (prevRow == null || prevRow.зачёт_uid != currRow.зачёт_uid)
                    {
                        if (currRow.обработано == "True")
                        {
                            <td><input type="checkbox" name="обработано" checked="checked" data-modified="0" /></td>
                        }
                        else
                        {
                            <td><input type="checkbox" name="обработано" data-modified="0" /></td>
                        }
                        if (currRow.разрешено == "True")
                        {
                            <td><input type="checkbox" name="разрешено" checked="checked" data-modified="0" /></td>
                        }
                        else
                        {
                            <td><input type="checkbox" name="разрешено" data-modified="0" /></td>
                        }
                        <td>@currRow.дата</td>
                        <td>@currRow.менеджер</td>
                        <td>@currRow.аукцион</td>
                        <td>@currRow.спецификация</td>
                        <td>@currRow.товар</td>
                        <td style="text-align: right">@currRow.количество</td>
                    }
                    else
                    {
                        if (currRow.обработано == "True")
                        {
                            <td style="border-top: none;"></td>
                        }
                        else
                        {
                            <td style="border-top: none;"></td>
                        }
                        if (currRow.разрешено == "True")
                        {
                            <td style="border-top: none;"></td>
                        }
                        else
                        {
                            <td style="border-top: none;"></td>
                        }
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td>@currRow.товар</td>
                        <td style="text-align: right">@currRow.количество</td>
                    }
                </tr>
            }
            <tr style="border: 1px solid black"></tr>
        </table>
    }
</div>
<script type="text/javascript">
    var AdminPagesF0Table = (function () {
        $('#admin_pages_views_f0_table input').change(function () {
            $(this).attr('data-modified', '1');
        });
    })();
</script>