@using FNet.AdminPages.Models
@using System.Data
@model F0Model
@{
    DataTable dt = null;
    if (Model != null && Model.ChangeJournal != null && Model.ChangeJournal.Tables.Count > 0)
    {
        dt = Model.ChangeJournal.Tables[0];
    }
}
<style type="text/css">
    #admin_pages_views_f0_table table.change-journal tr {
        border-left: 1px solid black;
    }

    #admin_pages_views_f0_table table.change-journal th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }

    #admin_pages_views_f0_table table.change-journal td {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }

    #admin_pages_views_f0_table tr.table-head-row {
        font-weight: bold;
    }
</style>
<div id="admin_pages_views_f0_table">
    @if (dt != null)
    {
        F0Model.ItemArray prevRow = null;
        F0Model.ItemArray currRow = null;
        <table class="change-journal" style="margin: 6px;">
            <tr class="table-head-row">
                <th>Х</th>
                <th>ОК</th>
                <th>Дата</th>
                <th>Менеджер</th>
                <th>Аукцион</th>
                <th>Спецификация</th>
                <th>Товар</th>
                <th>Количество</th>
            </tr>
            @foreach (DataRow dr in dt.Rows)
            {
                prevRow = currRow;
                currRow = Model.GetRowItemArray(dr);
                <tr class="table-body-row" data-uid="@currRow.товар_uid">
                    @if (prevRow == null || prevRow.зачёт_uid != currRow.зачёт_uid)
                    {
                        if (currRow.Х == "True")
                        {
                            <td><input type="checkbox" name="Х" checked="checked" data-modified="0" /></td>
                        }
                        else
                        {
                            <td><input type="checkbox" name="Х" data-modified="0" /></td>
                        }
                        if (currRow.ОК == "True")
                        {
                            <td><input type="checkbox" name="ОК" checked="checked" data-modified="0" /></td>
                        }
                        else
                        {
                            <td><input type="checkbox" name="ОК" data-modified="0" /></td>
                        }
                        <td>@currRow.Дата</td>
                        <td>@currRow.Менеджер</td>
                        <td>@currRow.Аукцион</td>
                        <td>@currRow.Спецификация</td>
                        <td>@currRow.Товар</td>
                        <td style="text-align: right">@currRow.Количество</td>
                    }
                    else
                    {
                        if (currRow.Х == "True")
                        {
                            <td style="border-top: none;"></td>
                        }
                        else
                        {
                            <td style="border-top: none;"></td>
                        }
                        if (currRow.ОК == "True")
                        {
                            <td style="border-top: none;"></td>
                        }
                        else
                        {
                            <td style="border-top: none;"></td>
                        }
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td>@currRow.Товар</td>
                        <td style="text-align: right">@currRow.Количество</td>
                    }
                </tr>
            }
            <tr style="border: 1px solid black"></tr>
        </table>
    }
</div>
<script type="text/javascript">
    var AdminPagesF0Table = (function () {
        $('#admin_pages_views_f0_table input').change(function () {
            $(this).attr('data-modified', '1');
        });
    })();
</script>